* {
    margin: 0;
    padding: 0;
}
body {
    padding: 0px;
    /* overflow: hidden; */
}
.section-1 {
    width: 100%;
    height: 60vh;
    padding: 0px;
}
/* Icons CSS */

.parent-icon {
    position: relative;
}

#javascript, #linux, #apple, #django, #angular, #swift {
    width: 50px;
    /* background-color: rgb(34, 23, 95, 0.3); */
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
#android, #node, #c, #csharp, #drupal, #heroku {
    width: 50px;
    background-color: white;
    /* background-color: rgb(34, 23, 95, 0.3); */
    /* background-color: #8996c9; */
    padding: 10px;
    border-radius: 50%;
}
#javascript {
    position: absolute;
    top: 150px;
    right: 420px;
}
#linux {
    position: absolute;
    top: 290px;
    right: 480px;
}
#apple {
    position: absolute;
    top: 280px;
    right: 99px;
}
#django {
    position: absolute;
    top: 60px;
    right: 850px;
}
#swift {
    position: absolute;
    top: 400px;
    right: 250px;
}
#angular {
    position: absolute;
    top: 50px;
    right: 250px;
}
#node {
    width: 100px;
    position: absolute;
    top: 400px;
    right: 550px;
}
#drupal {
    position: absolute;
    top: -90px;
    right: 600px;
}
#android {
    position: relative;
    top: 250px;
    right: 690px;
}
#c {
    position: relative;
    top: 300px;
    right: 120px;
}
#csharp {
    position: relative;
    top: 80px;
    right: 120px;
}
#heroku {
    position: relative;
    top: 240px;
    right: 350px;
}




.heapware-png {
    position: absolute;
    /* animation: rotation 2s infinite; */
    /* background-color: rgb(34, 23, 95, 0.5); */
    background-color: white;
    /* width: 37%; */
    width: 215px;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    top: 150px;
    right: 200px;
    transition: ease 1s;
}
/* @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
/* #heapware {
    animation: wobble 2s infinite;
}
@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* .django-animation, .javascript-animation, .apple-animation, .linux-animation, .swift-animation {
    animation: rotation 3s infinite;
} */
/* @keyframes rotation {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.heapware-animation {
    transform: rotate(45deg);
    transform: 3s ease;
}
.heapware-svg:hover {
    transform: translate(10px, 10px);
    transition: 2s ease;
} */

.heapware-section {
    display: flex;
    justify-content: flex-end;
    background-color: #223378;
    width: 100%;
    height: 100vh;
    position: relative;
}
.section-2 {
    height: 80vh;
}
